[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
