{{ partial "header" . }}

<main>

    {{ $showPageTitle := ne .File.BaseFileName "news" }}
    {{ $hasTags := .Params.tags }}
    {{ $hasMeta := or (and $showPageTitle .Title) (or .Description $hasTags) }}
    {{ if $hasMeta }}
    <div class="page-meta">
        {{ if $showPageTitle }}{{ with .Title }}<h2>{{ . }}</h2>{{ end }}{{ end }}
        {{ with .Description }}<h5>{{ . }}</h5>{{ end }}
        {{ with .Params.tags }}{{ partial "tags" $ }}{{ end }}
    </div>
    {{ end }}

    <div align="start" class="content">{{ .Content }}</div>

</main>

{{ partial "footer" . }}
