{{ partial "header" . }}

<main class="home-main">
    <div class="intro">
        <h1 class="visually-hidden">{{ .Site.Title }}</h1>
        <h2 class="visually-hidden">ecosystem demography, carbon cycle, CLM, FATES, plant mortality, Earth System Model, NorESM, CICERO, land surface model, plant hydraulics</h2>
        {{ with .Params.h1 }}
            <h2>{{ . | markdownify }}</h2>
        {{ else }}
            {{ with .Site.Params.Description }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ end }}
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
